.home-page {
    position: relative;
    height: 90vh;
    width: 80vw;
    overflow: hidden;
}

.search-bar-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;;
    padding: 1rem;
    text-align: center;
}
