.pure-modal {
    background-color: #2d235c !important;
    color: #fff !important;
    border-radius: 10px !important;
}

.pure-modal .pure-modal-header {
    background-color: #4e4376 !important;
    color: #fff !important;
    font-size: 1.2rem !important;
    font-weight: bold !important;
    text-align: center !important;
}

.pure-modal .modal-content {
    background-color: #1c1b3e;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.pure-modal .modal-content h3 {
    color: 8b68e0;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.modal-content p {
    color: #b3b3d1;
    font-size: 1rem;
    margin-bottom: 10px;
}

.modal-content a {
    color: #8b68e0;
    text-decoration: none;
}

.modal-content a:hover {
    text-decoration: underline;
}

.pure-modal .images {
    display: flex;
    gap: 10px;
}

.pure-modal .images img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid #47457a;
}

.pure-modal .pure-modal-footer button {
    background-color: #8b68e0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pure-modal .pure-modal-footer button:hover {
    background-color: #6b5da0;
}
